.bounding-container {
    margin: 1rem auto 13rem;
    width: 89.54%;
    
    .image-display {
        max-width: 500px;
        width: 100%;
        height: auto;
    }
    .bounding-box {
        position: absolute;
        box-shadow: 0 0 0 3px #149df2 inset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
    }
}

.border {
    border: 2px solid black;
}

@media(min-width:700px){
    .bounding-container {
        width: 50%;
    }
}